.container-custom{
    width: 20%;
    margin-top: 8%;
    border-radius: 1.5rem;
    shadow: 2rem 2rem 2rem 0 rgba(255,255,255,0.2);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: white;
}
.text-cyan{
    color: hsl(178, 100%, 50%)
}
.bg-cyan{
    background-color: hsl(178, 100%, 50%)
}
.text-softblue{
    color: hsl(215, 51%, 70%);
}
.bg-verydarkblue{
    background-color: hsl(217, 54%, 11%);
}
.bg-verydarkblue2{
    background-color: hsl(216, 50%, 16%);
}
.text-verydarkblue{
    color: hsl(215, 32%, 27%);
}
@font-face {
    font-family: outfit;
    src: url('fonts/Outfit-VariableFont_wght.ttf');
}
 .outfit{
    font-family: outfit;
 }
 .mainhead, .bottomhead{
    color: white;
 }
.mainhead:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
.bottomhead:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
 @media screen and (max-width: 768px) {
    .container-custom{
        width: 80%;
        margin-top: 16%;
    }