.container-custom{
    width: 20%;
    margin-top: 8%;
    border-radius: 1.5rem;
    shadow: 2rem 2rem 2rem 0 rgba(255,255,255,0.2);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.text-cyan{
    color: hsl(178, 100%, 50%)
}
.bg-cyan{
    background-color: hsl(178, 100%, 50%)
}
.text-softblue{
    color: hsl(215, 51%, 70%);
}
.bg-verydarkblue{
    background-color: hsl(217, 54%, 11%);
}
.bg-verydarkblue2{
    background-color: hsl(216, 50%, 16%);
}
.text-verydarkblue{
    color: hsl(215, 32%, 27%);
}
@font-face {
  font-family: 'Outfit';
  src: 'https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap';
 }
 .Outfit{
    font-family: 'Outfit', sans-serif;
 }

 @media screen and (max-width: 768px) {
    .container-custom{
        width: 100%;
    }